.button_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    outline: none;
    background-color: #e5d7d7; 
    color: rgb(207, 183, 183); 
    border: none; 
    padding: 10px 20px; 
    cursor: pointer; 
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 1px;
}

.button:focus {
    outline: none; 
}

.button:hover { 
    background-color: #f0f0f0; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.button:active { 
    background-color: #e0e0e0; 
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    transform: translateY(1px);
}

.input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    z-index: -1;
    overflow: hidden;
    position: absolute;
    font-size: 0px;
    content-visibility: hidden;
}
